<template>
  <Settlement :data="{}"  @save="saveEvent" />
</template>

<script setup lang="ts">

import {setPageTitle} from '@/helpers/helpers.js';

import Settlement from '@/views/Settlement/Settlement.vue';

setPageTitle('Создание нового поселка');

const saveEvent = (data) => {
  console.log(data);
}
</script>

<style scoped>

</style>