<template>
    <el-button-group class="tw-my-2">
      <el-button type="primary" plain @click="router.push({name:'admin.settlement.edit',params:{id:Number(data.id)}})">
        Редактировать
      </el-button>
      <el-button type="danger" plain @click="">Удалить</el-button>
    </el-button-group>

  <el-row :gutter="20" justify="center" class="tw-justify-items-center">
    <el-col :lg="12" :sm="24" class="tw-text-center">
      <el-image :src="data.photo" class="tw-max-w-[500px] tw-min-w-[300px]"/>
    </el-col>
    <el-col :lg="12" :sm="24">
      <div class="p-4 bg-gray-100 rounded-lg">
        <h3 class="text-xl font-bold mb-2">Поселок - {{ data.name }}</h3>
        <el-divider></el-divider>
        <p class="flex items-center text-gray-600 mt-2">
          Адрес: {{ data.address }}
        </p>
        <div class="mt-4">
          <p>Площаь поселка: {{ data.square }}(га)</p>
          <p>Телефон для связи: <a :href="`tel:${data.phone}`">{{ data.phone }}</a></p>
          <p>Обзор поселка: <a :href="data.youtube" target="_blank">Видео</a></p>
          <p>Презентация: <a :href="data.presentation" target="_blank">Файл</a></p>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script setup>
import {setPageTitle} from '@/helpers/helpers.js';
import {api} from '@/api/Settlements.js';
import {useRoute} from 'vue-router';
import router from '@/router/router.js';


const route = useRoute();
const id = route.params.id;

const data = await api.getById(id);
setPageTitle(data.name);

</script>

<style scoped>

</style>