<template>
  <div>
    <div class="tw-my-2">
      <el-button type="primary" plain @click="router.push({name:'admin.settlement.create'})">Создать новый</el-button>
    </div>
    <div class="tw-my-10">
      <el-input placeholder="начните вводить имя для поиска" v-model="search" >
        <template #append>
          <el-button :icon="Close" @click="search=''" />
        </template>
      </el-input>
    </div>
    <el-row :gutter="10">
      <el-col :span="8" v-for="settlement in info">
        <el-card class="tw-max-w-[400px] tw-max-h-[470px] ">
          <img
              :src="settlement.photo"
              class="image tw-w-[100%] tw-cursor-pointer"
              @click="router.push({name:'admin.settlement.view',params:{id:Number(settlement.id)}})"
          />
          <div>
            <div class="tw-text-center tw-flex-baseline">
              <h3 class="tw-my-1">{{ settlement.name }}</h3>
            </div>
            <div class="tw-flex tw-justify-between">
              <el-button type="primary" plain
                         @click="router.push({name:'admin.settlement.view',params:{id:Number(settlement.id)}})">Посмотреть
              </el-button>
              <el-button type="primary" plain
                         @click="router.push({name:'admin.settlement.edit',params:{id:Number(settlement.id)}})">
                Редактировать
              </el-button>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script setup>
import {setPageTitle} from '@/helpers/helpers.js';
import {api} from '@/api/Settlements.js';
import router from '@/router/router.js';
import {ref} from 'vue';
import { watchDebounced} from '@vueuse/core';
import { Close } from '@element-plus/icons-vue'

setPageTitle('Поселки');
const search = ref('');
const data = await api.getData();
const  info = ref(data);

watchDebounced(search, async () => {
  info.value = await api.getData({name:search.value});
}, { debounce: 500, maxWait: 1000 },)
</script>

<style scoped>

</style>