<template>
  <el-row :gutter="20" justify="center" class="tw-justify-items-center">
    <el-col :lg="12" :sm="24" class="tw-text-center">
      <el-image :src="data.photo" class="tw-max-w-[500px] tw-min-w-[300px]"/>
    </el-col>
    <el-col :lg="12" :sm="24">
      <div class="p-4 bg-gray-100 rounded-lg">
        <Form as="" ref="formUpdate" :validation-schema="schemaValidateUpdate">
          <el-form :model="form" label-width="150px">
            <template v-for="fieldSettlement in settlementFields">
              <Field :name="fieldSettlement.sysName" :label="fieldSettlement.label"
                     v-model="form[fieldSettlement.sysName]" v-slot="{ value, field, errorMessage }">
                <el-form-item :error="errorMessage" :label="fieldSettlement.label" required>
                  <el-input :placeholder="fieldSettlement.placeholder" v-model="form[fieldSettlement.sysName]"/>
                </el-form-item>
              </Field>
            </template>
            <file-pond
                name="test"
                ref="file_presentation"
                class-name="my-pond"
                :allow-multiple="false"
                label-idle="Перенесите файл..."
                accepted-file-types="application/pdf"
                :files="data.presentation || null"
            />
            <file-pond
                name="test"
                ref="file_photo"
                class-name="my-pond"
                label-idle="Перенесите файл..."
                :allow-multiple="false"
                :files="data.photo || null"
                accepted-file-types="image/jpeg, image/png"
            />
            <el-form-item>
              <el-button type="primary" @click="update">Сохранить</el-button>
            </el-form-item>
          </el-form>
        </Form>
      </div>
    </el-col>
  </el-row>
</template>

<script setup lang="ts">
import {Field, Form} from 'vee-validate';
import {computed, Ref, ref} from 'vue';
import * as yup from 'yup';
import 'yup-phone';
import {settlementFields} from '@/fields/settlement';
import {ElNotification} from 'element-plus';
import {settlement, saveSettlement} from "@/types/settlement";

const model = settlementFields.reduce((obj, {sysName}) => {
  obj[sysName] = '';
  return obj;
}, {});
const form = ref<settlement>(model);

const props = defineProps<{ data: settlement }>();
const emit = defineEmits<{
  (e: 'save', data: saveSettlement): void
}>()
const data = computed(() => props.data);
form.value = {...form.value, ...data.value};
const file_presentation = ref();
const file_photo = ref();
const formUpdate = ref();

const schemaValidateUpdate = ref({
  name: 'required',
  address: 'required',
  square: 'required',
  phone: yup.string().phone().required(),
  youtube: yup.string().matches(
      /(?:youtube\.com\/(?!channel)|youtu\.be\/|youtube\.com\/user\/\S+|youtube\.com\/c\/\S+|youtube\.com\/\S+|youtube\.com\/embed\/\S+)/,
      'Некорректная ссылка на YouTube',
  ).required(),
});

const update = async () => {
  const result = await formUpdate.value.validate();
  console.log(result)
  const validFile = file_photo.value.getFiles().length && file_presentation.value.getFiles().length;
  if (!validFile) {
    ElNotification({
      title: 'Ошибка',
      message: 'Не прикреплен файл презентации или фото',
      type: 'error',
    });
  }
  if (!result.valid || !validFile) {
    return 0;
  }
  const photo = file_photo.value.getFiles().at(0).file as File;
  const presentation = file_photo.value.getFiles().at(0).file as File;
  const dataSave: saveSettlement = {...form.value, photo: photo, presentation: presentation};
  emit('save', dataSave)
};


</script>

<style scoped>

</style>