<template>
  <div class="tw-my-2">
    <el-button type="danger" plain @click="">Удалить</el-button>
  </div>
  <Settlement :data="info" @save="saveEvent" />
</template>

<script setup lang="ts">

import {setPageTitle} from '@/helpers/helpers.js';
import {api} from '@/api/Settlements.js';
import {useRoute} from 'vue-router';
import Settlement from '@/views/Settlement/Settlement.vue';
import {ref} from "vue";
import {settlement} from "@/types/settlement";

const route = useRoute();
const id = route.params.id;
const data: settlement = await api.getById(id);
const info = ref(data);
setPageTitle('Редактирование поселка:' + info.value.name);

const saveEvent = (data) => {
  console.log(data);
}
</script>

<style scoped>

</style>