<template>
  <div>
    <div class="tw-my-2">
      <el-button type="primary" plain @click="router.push({name:'admin.house.create'})">Создать новый</el-button>
      <el-button type="success" @click="showFilter=!showFilter" >Фильтры</el-button>
    </div>
    <el-row   v-show="showFilter" :gutter="40" class="tw-mb-10">
      <el-col :span="12" class="tw-my-1">
        <span>Введите имя</span>
        <el-input placeholder="начните вводить имя" v-model="filters.name">
          <template #append>
            <el-button :icon="Close" @click="search=''"/>
          </template>
        </el-input>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <span>Цена в  рублях</span>
        <el-slider label="Цена в рублях" v-model="filters.priceRub" range :min="filtersVal.currency[0].min_price"
                   :format-tooltip="formatPriceLabel" :max="filtersVal.currency[0].max_price"/>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <span>Цена в  USDT</span>
        <el-slider label="Цена в рублях" v-model="filters.priceUsdt" range :min="filtersVal.currency[1].min_price"
                   :format-tooltip="formatPriceLabel" :max="filtersVal.currency[1].max_price"/>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <span>Этажность</span>
        <el-slider label="Цена в рублях" v-model="filters.floors" range :min="filtersVal.house.floors.min"
                   :max="filtersVal.house.floors.max"/>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <span>Спален</span>
        <el-slider label="Цена в рублях" v-model="filters.bedrooms" range :min="filtersVal.house.bedrooms.min"
                   :max="filtersVal.house.bedrooms.max"/>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <span>Площадь</span>
        <el-slider label="Цена в рублях" v-model="filters.square" range :min="filtersVal.house.square.min"
                   :max="filtersVal.house.square.max" :format-tooltip="formatPriceLabel"/>
      </el-col>
      <el-col :span="12" class="tw-my-1">
        <div>Тип помещения</div>
        <el-select v-model="filters.houseType" class="m-2" placeholder="Дом" clearable >
          <el-option
              v-for="item in libStor.getLibs('house_type')"
              :key="item.id"
              :label="item.name"
              :value="item.id"
          />
        </el-select>
      </el-col>
        <el-col :span="12" class="tw-my-1">
        <div>Поселок</div>
        <el-select v-model="filters.settlement" class="m-2" placeholder="Видное" clearable  >
          <el-option
              v-for="item in libStor.getLibs('settlement')"
              :key="item.id"
              :label="item.name"
              :value="item.id"
          />
        </el-select>
      </el-col>
    </el-row>

    <el-row :gutter="10">
      <el-col :span="8" v-for="settlement in info">
        <el-card class="tw-max-w-[400px] tw-max-h-[470px]  tw-my-3">
          <img
              :src="settlement.photo"
              class="image tw-w-[100%] tw-cursor-pointer"
              @click="router.push({name:'admin.house.view',params:{id:Number(settlement.id)}})"
          />
          <div>
            <div class="tw-text-center tw-flex-baseline">
              <h3 class="tw-my-1">{{ settlement.name }}</h3>
            </div>
            <div>
              <div class="tw-flex tw-justify-between tw-mb-4">
                <div>{{ formatPrice(settlement.house_prices[0].price) }} Руб.</div>
                <div>{{ formatPrice(settlement.house_prices[1].price) }} USDT</div>
              </div>
              <div class="tw-flex tw-justify-between">
                <el-button type="primary" plain
                           @click="router.push({name:'admin.house.view',params:{id:Number(settlement.id)}})">Посмотреть
                </el-button>
                <el-button type="primary" plain
                           @click="router.push({name:'admin.house.edit',params:{id:Number(settlement.id)}})">
                  Редактировать
                </el-button>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script setup>
import {setPageTitle} from '@/helpers/helpers.js';
import {api as HouseApi} from '@/api/Houses';
import {api as FiltersHouseApi} from '@/api/FiltersHouse';
import router from '@/router/router.js';
import {ref, watch} from 'vue';
import {watchDebounced} from '@vueuse/core';
import {formatPrice} from '@/helpers/helpers';
import {Close} from '@element-plus/icons-vue';
import {libsStore} from '@/store/libsStore.js';


setPageTitle('Дома');
const search = ref('');
const data = await HouseApi.getData();
const filtersVal = await FiltersHouseApi.getData();
console.log(filtersVal);
const info = ref(data);
const showFilter = ref(false);
const libStor = await libsStore();


const filters = ref({
  name: '',
  priceRub: null,
  priceUsdt: null,
  floors: null,
  badrooms: null,
  square: null,
  houseType: null,
  settlement: null,
});

const formatPriceLabel = (value) => formatPrice(value);

watchDebounced(filters, async () => {
  const filteredObj = Object.fromEntries(
      Object.entries(filters.value).filter(([key, value]) => value)
  );
  console.log(filteredObj);
  info.value = await HouseApi.getData({...filteredObj});
}, {debounce: 500, maxWait: 1000,deep:true});
</script>

<style scoped>

</style>