<template>
  <el-row :gutter="20" justify="center" class="tw-justify-items-center">
    <el-col :lg="24" :sm="24" class="tw-text-center" v-if="props.gallery.length">
      <el-carousel :interval="5000" arrow="always" height="500px">
        <el-carousel-item v-for="item in props.gallery" :key="item.id">
          <el-image :src="item.path"/>
        </el-carousel-item>
      </el-carousel>
    </el-col>
    <el-col :lg="24" :sm="24">
      <div class="p-4 bg-gray-100 rounded-lg">
        <Form as="" ref="formUpdate" :validation-schema="schemaValidateUpdate">
          <el-form :model="form" label-width="150px">
            <template v-for="houseField in houseFieldsRef" :key="houseField.sysName">
              <Field v-if="houseField.input !== 'select'" :name="houseField.sysName" :label="houseField.label"
                     v-model="form[houseField.sysName]" v-slot="{ value, field, errorMessage }">
                <el-form-item :error="errorMessage" :label="houseField.label" required>
                  <el-input :placeholder="houseField.placeholder" v-model="form[houseField.sysName]"
                            :disabled="houseField.disabled"/>
                </el-form-item>
              </Field>
              <Field v-if="houseField.input == 'select'" :name="houseField.sysName" :label="houseField.label"
                     v-model="form[houseField.sysName]" v-slot="{ value, field, errorMessage }">
                <el-form-item :error="errorMessage" :label="houseField.label" required>
                  <el-select v-model="form[houseField.sysName]" class="m-2" placeholder="Select" size="large">
                    <el-option
                        v-for="item in getLib(houseField.sysName)"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </Field>
            </template>
            <p>Фото для превью</p>
            <file-pond
                name="test"
                ref="photo"
                class-name="my-pond"
                label-idle="Перенесите файл..."
                :allow-multiple="false"
                :files="data.photo || null"
                accepted-file-types="image/jpeg, image/png"
            />
            <p>Галерея</p>
            <file-pond
                name="test"
                ref="gallery"
                class-name="my-pond"
                label-idle="Перенесите файл..."
                :allow-multiple="true"
                :files="galleryFile || null"
                accepted-file-types="image/jpeg, image/png"
            />
            <el-form-item>
              <el-button type="primary" @click="update">Сохранить</el-button>
            </el-form-item>
          </el-form>
        </Form>
      </div>
    </el-col>
  </el-row>
</template>

<script setup>
import {computed, ref, watch} from 'vue';
import * as yup from 'yup';
import 'yup-phone';
import {ElNotification} from 'element-plus';
import {houseFields} from '@/fields/house';
import {Field, Form} from 'vee-validate';
import {libsStore} from '@/store/libsStore.js';
import {watchArray, watchDebounced} from '@vueuse/core';
import {currencyPriceStore} from '@/store/currencyPriceStore.js';

const currencyPriceStor = currencyPriceStore();
const model = houseFields.reduce((obj, {sysName}) => {
  obj[sysName] = '';
  return obj;
}, {});

const form = ref(model);
const houseFieldsRef = ref(houseFields);

const props = defineProps({
  data: {
    type: Object,
    default: () => ({}),
  },
  gallery: {
    type: Array,
    default: () => ([]),
  },
});
const libStor = libsStore();
const emit = defineEmits(['save']);
const data = computed(() => props.data);
const currencySelect = computed(() => form.value.currency);
const fieldCurrencyRub = computed(() => houseFieldsRef.value.find(({sysName}) => sysName === 'price_rub'));
const fieldCurrencyUSDT = computed(() => houseFieldsRef.value.find(({sysName}) => sysName === 'price_usdt'));
const photo = ref();
const gallery = ref();
const formUpdate = ref();
const galleryFile = computed(() => props.gallery.map(({path}) => path));



const currencyRub = computed(() => form.value.price_rub);
const currencyUSDT = computed(() => form.value.price_usdt);

const schemaValidateUpdate = ref({
  name: 'required',
  currency: 'required',
  price_rub: yup.number().required().typeError('Пожалуйста, введите числовое значение'),
  price_usdt: yup.number().required().typeError('Пожалуйста, введите числовое значение'),
  bedrooms: yup.number().required().typeError('Пожалуйста, введите числовое значение'),
  floors: yup.number().required().typeError('Пожалуйста, введите числовое значение'),
  square: yup.number().required().typeError('Пожалуйста, введите числовое значение'),
  house_type: 'required',
  settlement: 'required',
});

const getLib = (name) => libStor.getLibs(name);


const update = async () => {
  const result = await formUpdate.value.validate();
  const validFile = gallery.value.getFiles().length && photo.value.getFiles().length;
  if (!validFile) {
    ElNotification({
      title: 'Ошибка',
      message: 'Не прикреплен файл фото или файлы галереи',
      type: 'error',
    });
  }
  if (!result.valid || !validFile) {
    return 0;
  }
  const dataSave = {...form.value,files:{
      gallery:gallery.value.getFiles().map(({file}) => file),
      photo:photo.value.getFiles().file
    }};
  emit('save', dataSave);
};

const updateDisabledFields = () => {
  const isCurrencyRub = currencySelect.value == '1';
  const isCurrencyUSDT = currencySelect.value == '2';

  // Изменяем значение disabled в зависимости от выбранной валюты
  if (fieldCurrencyRub.value) {
    fieldCurrencyRub.value.disabled = !isCurrencyRub;
  }
  if (fieldCurrencyUSDT.value) {
    fieldCurrencyUSDT.value.disabled = !isCurrencyUSDT;
  }
};

watch(currencySelect, updateDisabledFields);
watchDebounced(currencyRub, () => {
  if (currencySelect.value == '1') {
    form.value.price_usdt = (currencyRub.value / currencyPriceStor.getCurrency(2)).toFixed(2);
  }
}, {debounce: 500, maxWait: 1000});
watchDebounced(currencyUSDT, () => {
  if (currencySelect.value == '2') {
    form.value.price_rub = (currencyUSDT.value * currencyPriceStor.getCurrency(2)).toFixed(2);
  }
}, {debounce: 500, maxWait: 1000});

form.value = {...form.value, ...data.value, house_type: data.value.house_type_id, settlement: data.value.settlement_id};

</script>

<style scoped>

</style>