<template>
  <House :data="{}"  @save="saveEvent" />
</template>

<script setup lang="ts">

import {setPageTitle} from '@/helpers/helpers.js';

import House from "@/views/House/House.vue";

setPageTitle('Создание нового поселка');

const saveEvent = (data) => {
  console.log(data);
}
</script>

<style scoped>

</style>