<template>
  <el-button-group class="tw-my-2">
    <el-button type="primary" plain @click="router.push({name:'admin.house.edit',params:{id:Number(data.id)}})">
      Редактировать
    </el-button>
    <el-button type="danger" plain @click="">Удалить</el-button>
  </el-button-group>

  <el-row :gutter="20" justify="center" class="tw-justify-items-center">
    <el-col :lg="24" :sm="24" class="tw-text-center">
      <el-carousel :interval="5000" arrow="always" height="500px">
        <el-carousel-item v-for="item in gallery" :key="item.id">
          <el-image :src="item.path"/>
        </el-carousel-item>
      </el-carousel>
    </el-col>
    <el-col :lg="13" :sm="24" class="tw-mt-10 tw-flex tw-justify-center">
      <el-table :data=" houseFields" :show-header="false">
        <el-table-column prop="label" label="label"/>
        <el-table-column prop="value" label="Name">
          <template #default="scope">
            <template v-if="scope.row.sysName.includes('price')">{{ formatPrice(data[scope.row.sysName]) }}</template>
            <template v-else>{{ data[scope.row.sysName] }}</template>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</template>

<script setup>
import {setPageTitle} from '@/helpers/helpers.js';
import {api as houseApi} from '@/api/Houses.js';
import {useRoute} from 'vue-router';
import router from '@/router/router.js';
import {api as housePricesApi} from '@/api/HousePrices.js';
import {houseFields} from '@/fields/house';
import {libsStore} from '@/store/libsStore.js';
import {api as Gallery} from '@/api/Gallery.js';
import {formatPrice} from '@/helpers/helpers';

const route = useRoute();
const id = route.params.id;
const libStor = await libsStore();

const dataInfo = await houseApi.getById(id);
const price = await housePricesApi.getById(id);
const gallery = await Gallery.getById(id);
const data = {
  ...dataInfo,
  settlement: libStor.getNameById('settlement', dataInfo.settlement_id),
  house_type: libStor.getNameById('house_type', dataInfo.house_type_id),
  price_rub: price.find(({currency_id}) => currency_id == 1).price,
  price_usdt: price.find(({currency_id}) => currency_id == 2).price,
};
console.log(data);
setPageTitle(data.name);
</script>

<style scoped>

</style>