<template>
  <div class="tw-my-2">
    <el-button type="danger" plain @click="deleteFunc">Удалить</el-button>
  </div>
  <House :data="info" :gallery="gallery" @save="saveEvent"/>
</template>

<script setup>

import {setPageTitle} from '@/helpers/helpers.js';
import {api as houseApi} from '@/api/Houses.js';
import {api as galleryApi} from '@/api/Gallery.js';
import {useRoute} from 'vue-router';
import {ref} from 'vue';
import House from '@/views/House/House.vue';
// house_prices
//     :
//     [{house_id: 1, currency_id: 1, price: 74605728.499}, {house_id: 1, currency_id: 2, price: 888163.435}]

const route = useRoute();
const id = route.params.id;
const data = await houseApi.getById(id);
const galleryData = await galleryApi.getById(id);
const info = ref({...data, price_rub: data.house_prices[0].price, prie_usdt: data.house_prices[1].price});
const gallery = ref(galleryData);
setPageTitle('Редактирование Дома:' + info.value.name);

const saveEvent = (data) => {
  data.price_rub = Number(data.price_rub);
  data.price_usdt = Number(data.price_usdt);
  houseApi.update(id, data);
};
const deleteFunc = () => {
  console.log(id);
};
</script>

<style scoped>

</style>