<template>
  <AdminLayOut>
    <slot>
      <router-view/>
    </slot>
  </AdminLayOut>

</template>

<script setup>
import AdminLayOut from '../components/AdminLayOut.vue';
import {libsStore} from '@/store/libsStore.js';
import {api as currencyApi} from '@/api/Currency.js';
import {api as settlementsApi} from '@/api/Settlements.js';
import {api as houseTypesApi} from '@/api/HouseTypes';
import {currencyPriceStore} from '@/store/currencyPriceStore';

const libsStor = libsStore();
const currencyStor = currencyPriceStore();

const preapareToLib = (res) => res.map(({id, name}) => ({id, name}));
const currency = await currencyApi.getData();
const settlements = await settlementsApi.getData();
const houseTypes = await houseTypesApi.getData();

libsStor.setLibs('currency', preapareToLib(currency));
libsStor.setLibs('settlement', preapareToLib(settlements));
libsStor.setLibs('house_type', preapareToLib(houseTypes));
currency.map(({id, rate}) => currencyStor.setCurrency(id, rate));


</script>

<style scoped>

</style>