<template>
  <el-row>
    <el-col :span="12">
      <el-card class="tw-max-w-[400px] tw-max-h-[470px] tw-cursor-pointer"
               @click="router.push({name:'admin.settlements.all'})">
        <img
            :src="settlementImg"
            class="image tw-w-[100%] "
        />
        <div>
          <div class="tw-text-center">
            <h3 class="tw-my-1">Поселки</h3>
          </div>
        </div>
      </el-card>
    </el-col>
    <el-col :span="12">
      <el-card class="tw-max-w-[400px] tw-max-h-[470px] tw-cursor-pointer "
               @click="router.push({name:'admin.houses.all'})">
        <img
            :src="houseImg"
            class="image tw-w-[100%] "
        />
        <div>
          <div class="tw-text-center">
            <h3 class="tw-my-1">Дома</h3>
          </div>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script setup>
import houseImg from '@/assets/img/house.jpg';
import settlementImg from '@/assets/img/settlement.jpg';
import {setPageTitle} from '../helpers/helpers.js';
import router from '../router/router.js';



setPageTitle('Главная');


</script>

<style scoped>

</style>