<template>
  <el-main class="main-login-p-none full-page !tw-p-0">
    <div class="tw-flex tw-items-center tw-justify-center tw-h-screen">
      <el-col :span="16">
        <el-form
            label-position="top"
            class="tw-w-full max-width-form-login"
            @submit="auth"
            @keydown.enter="auth"
        >
          <div class="tw-mb-10">
            <h1 class="title-form tw-text-center md:tw-text-start">Вход</h1>
          </div>
          <el-form-item label="Логин">
            <el-input v-model="form.login" required/>
          </el-form-item>
          <el-form-item label="Пароль">
            <el-input type="password" v-model="form.password" required/>
          </el-form-item>

          <el-button type="primary" size="large" class="width-175" plain @click="auth">Войти</el-button>
        </el-form>
      </el-col>
    </div>
  </el-main>
</template>

<script setup>
import {nextTick, reactive} from 'vue';
import user from '../api/user.js';
import {userStore} from '../store/userStore.js';
import router from '../router/router.js';
import {ElNotification} from 'element-plus';

const userStor = userStore();

if (Boolean(userStor.user.token) === true) {
  router.push({path: '/'});
}
const form = reactive({
  login: '',
  password: '',
});

const auth = async () => {
  // try {
  //   const login = await user.auth(form);
  //   await userStor.setInfo(login.username, login.access_token, {...login});
  //   await   user.setAuthorizationToken(login.access_token);
  //   await nextTick(() => {
  //     router.push({path: '/'});
  //   })
  // }
  // catch (e){
  //   ElNotification({
  //     title: 'Информация',
  //     message: 'Неверные данные для авторизации!',
  //     type: 'error',
  //   })
  //   return 1;
  // }

};
</script>

<style scoped>

</style>
