<template>
  <el-main class="main-login-p-none full-page !tw-p-0">
    <div class="tw-flex tw-items-center tw-justify-center tw-h-screen">

      <el-col :span="18"
              class="flex tw-flex-col tw-justify-end md:tw-justify-center md:tw-p-7 lg:tw-p-0 ">
        <div class="tw-text-xl tw-mb-10">
          К сожалению, запрашиваемая страница не найдена. Возможно, вы перешли по ссылке, в которой была допущена
          ошибка, или ресурс был удален. Попробуйте перейти на главную страницу
        </div>
        <div class="tw-text-center">
          <el-button type="primary" size="large" class="tw-max-w-[222px] " plain @click="router.push({path: '/'})">
            Вернуться на Главную
          </el-button>
        </div>
      </el-col>
    </div>
  </el-main>
</template>

<script setup>

import {useRouter} from 'vue-router';

const router = useRouter();

</script>

<style scoped>

</style>