<template>
  <el-container class="tw-m-10" >
    <el-menu
        default-active="2"
        class="el-menu-vertical-demo"
        router
    >
      <el-menu-item :index="item.path" v-for="(item, idx) in availableRoutes" :key="idx">
        {{ item.meta.title }}
      </el-menu-item>
    </el-menu>
    <el-main class="tw-mx-10">
      <h1 class="tw-mb-10">{{ pageTitle }}</h1>
      <slot></slot>
    </el-main>
  </el-container>
</template>

<script lang="ts" setup>
import {useRoute} from 'vue-router';
import {provide} from "vue";
import {computed, ref} from 'vue';
import router from '../router/router.js';


const pageTitle = ref('');
provide('pageTitle', pageTitle);
const route = useRoute();
const availableRoutes = computed(() => {
  const allRoutes = router.getRoutes();
  return allRoutes.filter(item => item.meta.showMenu === true).filter(item => {
    if (item.meta && item.meta.admin === true && user.user.meta.role === 10) {
      return true;
    } else if (item.meta && item.meta.admin === true && user.user.meta.role !== 10) {
      return false;
    } else {
      return true;
    }
  });
});

</script>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
</style>