<template>
  <suspense>
    <div class="tw-max-w-[1600px] tw-my-0 tw-m-auto">
      <router-view/>
    </div>
  </suspense>
</template>

<script setup>
import {useRoute} from 'vue-router';
import {localize, setLocale} from '@vee-validate/i18n';
import {configure} from 'vee-validate';
import ru from '@vee-validate/i18n/dist/locale/ru.json';

configure({
  generateMessage: localize({ru}),
  validateOnChange: true,
});
setLocale('ru');
const route = useRoute();


</script>

